<audio
        data-text="That's where I woke up. I have no clue what happened before."
        src="/audio/dummy.mp3"
        data-src="/public/audio/that_s_where_i_woke_up__i_have_no_clue_what_happen.mp3"
        hidden
></audio>
<audio
        data-text="[Footsteps]"
        src="/audio/dummy.mp3"
        data-src="/public/effects/footsteps.mp3"
        hidden
></audio>
<audio
        data-text="[Footsteps on wood]"
        src="/audio/dummy.mp3"
        data-src="/public/effects/footsteps-inside.mp3"
        hidden
></audio>
<audio
        data-text="[Door]"
        src="/audio/dummy.mp3"
        data-src="/public/effects/door.mp3"
        hidden
></audio>
<audio
        data-text="[Leaves rustling]"
        src="/audio/dummy.mp3"
        data-src="/public/effects/leaves-rustling.mp3"
        hidden
></audio>
<audio
        data-text="Looks like a hut, maybe I can get help there."
        src="/audio/dummy.mp3"
        data-src="/public/audio/looks_like_a_hut__maybe_i_can_get_help_there_.mp3"
        hidden
></audio>
<audio
        data-text="Out of all the other places it is quite pleasant."
        src="/audio/dummy.mp3"
        data-src="/public/audio/out_of_all_the_other_places_it_is_quite_pleasant_.mp3"
        hidden
></audio>
<audio
        data-text="A path that leads away from the camp deeper into the forest."
        src="/audio/dummy.mp3"
        data-src="/public/audio/a_path_that_leads_away_from_the_camp_deeper_into_t.mp3"
        hidden
></audio>
<audio
        data-text="Looks like a hut, maybe I can get help there."
        src="/audio/dummy.mp3"
        data-src="/public/audio/looks_like_a_hut__maybe_i_can_get_help_there__.mp3"
        hidden
></audio>
<audio
        data-text="It is an empty hut, the place gave me the chills earlier."
        src="/audio/dummy.mp3"
        data-src="/public/audio/it_is_an_empty_hut__the_place_gave_me_the_chills_e.mp3"
        hidden
></audio>
<audio
        data-text="Looks like a hut, maybe I can get help there."
        src="/audio/dummy.mp3"
        data-src="/public/audio/looks_like_a_hut__maybe_i_can_get_help_there___.mp3"
        hidden
></audio>
<audio
        data-text="A shed, it seems like someone stores supplies and tools there."
        src="/audio/dummy.mp3"
        data-src="/public/audio/a_shed__it_seems_like_someone_stores_supplies_and_.mp3"
        hidden
></audio>
<audio
        data-text="The path seems to lead to a swamp, eurgh."
        src="/audio/dummy.mp3"
        data-src="/public/audio/the_path_seems_to_lead_to_a_swamp__eurgh_.mp3"
        hidden
></audio>
<audio
        data-text="Can't figure out what that is supposed to be."
        src="/audio/dummy.mp3"
        data-src="/public/audio/can_t_figure_out_what_that_is_supposed_to_be_.mp3"
        hidden
></audio>
<audio
        data-text="It is the camps trash pile, the people here left all their junk there."
        src="/audio/dummy.mp3"
        data-src="/public/audio/it_is_the_camps_trash_pile__the_people_here_left_a.mp3"
        hidden
></audio>
<audio
        data-text="Can't figure out what that is supposed to be. Looks like a dead end."
        src="/audio/dummy.mp3"
        data-src="/public/audio/can_t_figure_out_what_that_is_supposed_to_be__look.mp3"
        hidden
></audio>
<audio
        data-text="Just more trees."
        src="/audio/dummy.mp3"
        data-src="/public/audio/just_more_trees_.mp3"
        hidden
></audio>
<audio
        data-text="It leads back where I came from."
        src="/audio/dummy.mp3"
        data-src="/public/audio/it_leads_back_where_i_came_from_.mp3"
        hidden
></audio>
<audio
        data-text="I see a bridge in that direction. I should check it out."
        src="/audio/dummy.mp3"
        data-src="/public/audio/i_see_a_bridge_in_that_direction__i_should_check_i.mp3"
        hidden
></audio>
<audio
        data-text="It leads back where I came from."
        src="/audio/dummy.mp3"
        data-src="/public/audio/it_leads_back_where_i_came_from__.mp3"
        hidden
></audio>
<audio
        data-text="It leads back into the forest."
        src="/audio/dummy.mp3"
        data-src="/public/audio/it_leads_back_into_the_forest_.mp3"
        hidden
></audio>
<audio
        data-text="Trees as far as I can see, and one small path."
        src="/audio/dummy.mp3"
        data-src="/public/audio/trees_as_far_as_i_can_see__and_one_small_path_.mp3"
        hidden
></audio>
<audio
        data-text="I can go there."
        src="/audio/dummy.mp3"
        data-src="/public/audio/i_can_go_there_.mp3"
        hidden
></audio>
<audio
        data-text="A dangerous and stinky swamp, eurgh."
        src="/audio/dummy.mp3"
        data-src="/public/audio/a_dangerous_and_stinky_swamp__eurgh_.mp3"
        hidden
></audio>
<audio
        data-text="Looks like a dead end."
        src="/audio/dummy.mp3"
        data-src="/public/audio/looks_like_a_dead_end_.mp3"
        hidden
></audio>
<audio
        data-text="I can't quite make out what the map is showing ... I could investigate it."
        src="/audio/dummy.mp3"
        data-src="/public/audio/i_can_t_quite_make_out_what_the_map_is_showing____.mp3"
        hidden
></audio>
<audio
        data-text="This looks like the main road leading to this camp."
        src="/audio/dummy.mp3"
        data-src="/public/audio/this_looks_like_the_main_road_leading_to_this_camp.mp3"
        hidden
></audio>
<audio
        data-text="It can see some sort of hut in that direction."
        src="/audio/dummy.mp3"
        data-src="/public/audio/it_can_see_some_sort_of_hut_in_that_direction_.mp3"
        hidden
></audio>
<audio
        data-text="A hut. It seems like it has been abandoned for a while."
        src="/audio/dummy.mp3"
        data-src="/public/audio/a_hut__it_seems_like_it_has_been_abandoned_for_a_w.mp3"
        hidden
></audio>
<audio
        data-text="I should have a look inside."
        src="/audio/dummy.mp3"
        data-src="/public/audio/i_should_have_a_look_inside_.mp3"
        hidden
></audio>
<audio
        data-text="Back to the main room."
        src="/audio/dummy.mp3"
        data-src="/public/audio/back_to_the_main_room_.mp3"
        hidden
></audio>
<audio
        data-text="It's the door back outside."
        src="/audio/dummy.mp3"
        data-src="/public/audio/it_s_the_door_back_outside_.mp3"
        hidden
></audio>
<audio
        data-text="There is a bathroom in that direction."
        src="/audio/dummy.mp3"
        data-src="/public/audio/there_is_a_bathroom_in_that_direction_.mp3"
        hidden
></audio>
<audio
        data-text="It is not easy to spot, but the rocks are quite loose, and I can get behind the shrine walls here."
        src="/audio/dummy.mp3"
        data-src="/public/audio/it_is_not_easy_to_spot__but_the_rocks_are_quite_lo.mp3"
        hidden
></audio>
<audio
        data-text="Holy ... there is a path that leads under the earth underneath these stones."
        src="/audio/dummy.mp3"
        data-src="/public/audio/holy_____there_is_a_path_that_leads_under_the_eart.mp3"
        hidden
></audio>
<audio
        data-text="That's the way out of this shrine."
        src="/audio/dummy.mp3"
        data-src="/public/audio/that_s_the_way_out_of_this_shrine_.mp3"
        hidden
></audio>
<audio
        data-text="It looks like some sort of ancient shrine in that direction."
        src="/audio/dummy.mp3"
        data-src="/public/audio/it_looks_like_some_sort_of_ancient_shrine_in_that_.mp3"
        hidden
></audio>
<audio
        data-text="It leads to the forest where i woke up."
        src="/audio/dummy.mp3"
        data-src="/public/audio/it_leads_to_the_forest_where_i_woke_up_.mp3"
        hidden
></audio>
<audio
        data-text="The statues look like they guard the entrance."
        src="/audio/dummy.mp3"
        data-src="/public/audio/the_statues_look_like_they_guard_the_entrance_.mp3"
        hidden
></audio>
<audio
        data-text="I should get leave here quickly."
        src="/audio/dummy.mp3"
        data-src="/public/audio/i_should_get_leave_here_quickly_.mp3"
        hidden
></audio>
<audio
        data-text="Woah, it goes even deeper."
        src="/audio/dummy.mp3"
        data-src="/public/audio/woah__it_goes_even_deeper_.mp3"
        hidden
></audio>
<audio
        data-text="The way out."
        src="/audio/dummy.mp3"
        data-src="/public/audio/the_way_out_.mp3"
        hidden
></audio>
<audio 
    data-text="Move the mouse across the screen."
    src="/audio/dummy.mp3"
    data-src="/public/audio/move_the_mouse_across_the_screen_.mp3"
    hidden
></audio>
<audio 
    data-text="..."
    src="/audio/dummy.mp3"
    data-src="/public/audio/___.mp3"
    hidden
></audio>
<audio 
    data-text="If an item can be interacted with the cursor icon will change to indicate that."
    src="/audio/dummy.mp3"
    data-src="/public/audio/if_an_item_can_be_interacted_with_the_cursor_icon_.mp3"
    hidden
></audio>
<audio 
    data-text="..."
    src="/audio/dummy.mp3"
    data-src="/public/audio/____.mp3"
    hidden
></audio>
<audio 
    data-text="Left click to interact with the object below."
    src="/audio/dummy.mp3"
    data-src="/public/audio/left_click_to_interact_with_the_object_below_.mp3"
    hidden
></audio>
<audio 
    data-text="Move the mouse across the screen. ... If an item can be interacted with the cursor icon will change to indicate that. ... Left click to interact with the object below."
    src="/audio/dummy.mp3"
    data-src="/public/audio/move_the_mouse_across_the_screen______if_an_item_c.mp3"
    hidden
></audio>
<audio 
    data-text="With the mousewheel, or holding down the right mouse button, you can switch between 4 types of actions to perform on the hovered object. - Interact - Inspect - Pick Up - Talk 'Interact' is the default action and will sometimes be shown as a different icon to indicate what the action will actually trigger. For example walking to some other area is often indicated by an arrow pointing in the direction the player will walk."
    src="/audio/dummy.mp3"
    data-src="/public/audio/with_the_mousewheel__or_holding_down_the_right_mou.mp3"
    hidden
></audio>
<audio 
    data-text="Objects that you picked up appear in the inventory, you can open the inventory by pressing 'I' or 'Control', or by clicking on the button in the bottom right. In the inventory you can interact with them like before, the 'pick up' action in this context turns into an attempt to use the item on something else. At some point in the game you will reveal a map of the area to fast travel to certain points. Use the keys 'M', 'Alt', or the button that will appear at the bottom right to access it. You can only travel places you have already been to. In case you are stuck or fed up searching the entire screen for objects to interact with. Holding down the 'Shift'-key will highlight all areas that area interactable in red. If you want to speed up things, you can hit 'Spacebar' or click anywhere, to cut off some audio or some animations, for example when going to another scene."
    src="/audio/dummy.mp3"
    data-src="/public/audio/objects_that_you_picked_up_appear_in_the_inventory.mp3"
    hidden
></audio>
<audio 
    data-text="Ouf! ... Where am I?"
    src="/audio/dummy.mp3"
    data-src="/public/audio/ouf______where_am_i_.mp3"
    hidden
></audio>
<audio 
    data-text="I don't remember anything."
    src="/audio/dummy.mp3"
    data-src="/public/audio/i_don_t_remember_anything_.mp3"
    hidden
></audio>
<audio 
    data-text="Ah there is something in my pocket. Maybe it will help me remember."
    src="/audio/dummy.mp3"
    data-src="/public/audio/ah_there_is_something_in_my_pocket__maybe_it_will_.mp3"
    hidden
></audio>
<audio 
    data-text="Ouf! ... Where am I?"
    src="/audio/dummy.mp3"
    data-src="/public/audio/ouf______where_am_i__.mp3"
    hidden
></audio>
<audio 
    data-text="I don't remember anything."
    src="/audio/dummy.mp3"
    data-src="/public/audio/i_don_t_remember_anything__.mp3"
    hidden
></audio>
<audio 
    data-text="I can't do that."
    src="/audio/dummy.mp3"
    data-src="/public/audio/i_can_t_do_that_.mp3"
    hidden
></audio>
<audio 
    data-text="That is impossible."
    src="/audio/dummy.mp3"
    data-src="/public/audio/that_is_impossible_.mp3"
    hidden
></audio>
<audio 
    data-text="Now, why should I do that!?"
    src="/audio/dummy.mp3"
    data-src="/public/audio/now__why_should_i_do_that__.mp3"
    hidden
></audio>
<audio 
    data-text="I am not insane, ... yet."
    src="/audio/dummy.mp3"
    data-src="/public/audio/i_am_not_insane______yet_.mp3"
    hidden
></audio>
<audio 
    data-text="I should look around to figure out what's going on."
    src="/audio/dummy.mp3"
    data-src="/public/audio/i_should_look_around_to_figure_out_what_s_going_on.mp3"
    hidden
></audio>
<audio 
    data-text="A murky piece of paper. I probably lost it, before losing consciousness."
    src="/audio/dummy.mp3"
    data-src="/public/audio/a_murky_piece_of_paper__i_probably_lost_it__before.mp3"
    hidden
></audio>
<audio 
    data-text="A pile of leaves."
    src="/audio/dummy.mp3"
    data-src="/public/audio/a_pile_of_leaves_.mp3"
    hidden
></audio>
<audio 
    data-text="It looks like something is underneath it."
    src="/audio/dummy.mp3"
    data-src="/public/audio/it_looks_like_something_is_underneath_it_.mp3"
    hidden
></audio>
<audio 
    data-text="Footprints? That must be, where I came from."
    src="/audio/dummy.mp3"
    data-src="/public/audio/footprints__that_must_be__where_i_came_from_.mp3"
    hidden
></audio>
