<audio
    data-text="I can't do that."
    src="./src/audio/i_can_t_do_that_.mp3"
    hidden
></audio>
<audio
    data-text="I can't do that."
    src="./src/audio/i_can_t_do_that__.mp3"
    hidden
></audio>
<audio
    data-text="I can't do that."
    src="./src/audio/i_____can_t_do_that__.mp3"
    hidden
></audio>
<audio
    data-text="That is impossible."
    src="./src/audio/that_is_impossible_.mp3"
    hidden
></audio>
<audio
    data-text="Now, why should i do that!?"
    src="./src/audio/now__why_should_i_do_that__.mp3"
    hidden
></audio>
<audio
    data-text="It's guardenville, the biggest town in the area."
    src="./src/audio/it_s_guardenville__the_biggest_town_in_the_area_.mp3"
    hidden
></audio>
<audio
    data-text="The local church, where people go to pray."
    src="./src/audio/the_local_church__where_people_go_to_pray_.mp3"
    hidden
></audio>
<audio
    data-text="Home, sweet home."
    src="./src/audio/home__sweet_home_.mp3"
    hidden
></audio>
<audio
    data-text="That's where i live."
    src="./src/audio/that_s_where_i_live_.mp3"
    hidden
></audio>
<audio
    data-text="Guard: 'Hello traveller.'"
    src="./src/audio/guard____hello_traveller___.mp3"
    hidden
></audio>
<audio
    data-text="Guard: 'Halt! Who goes there?'"
    src="./src/audio/guard____halt__who_goes_there___.mp3"
    hidden
></audio>
<audio
    data-text="Seems like he has nothing better to do than to keep people out."
    src="./src/audio/seems_like_he_has_nothing_better_to_do_than_to_kee.mp3"
    hidden
></audio>
<audio
    data-text="A lone hut, it's said that a witch lives there."
    src="./src/audio/a_lone_hut__it_s_said_that_a_witch_lives_there_.mp3"
    hidden
></audio>
<audio
    data-text="A small village, central to the area."
    src="./src/audio/a_small_village__central_to_the_area_.mp3"
    hidden
></audio>
<audio
    data-text="The mines, where most people of the area work at."
    src="./src/audio/the_mines__where_most_people_of_the_area_work_at_.mp3"
    hidden
></audio>
<audio
    data-text="The only way to guardenville, one has to cross it by boat."
    src="./src/audio/the_only_way_to_guardenville__one_has_to_cross_it_.mp3"
    hidden
></audio>
<audio
    data-text="The only way to guardenville, one has to cross it by boat."
    src="./src/audio/the_only_way_to_guardenville__one_has_to_cross_it_.mp3"
    hidden
></audio>
<audio
    data-text="A loaf of bread. It looks fresh and tasty."
    src="./src/audio/a_loaf_of_bread__it_looks_fresh_and_tasty__.mp3"
    hidden
></audio>
<audio
    data-text="It smells like it was baked this morning."
    src="./src/audio/it_smells_like_it_was_baked_this_morning__.mp3"
    hidden
></audio>
<audio
    data-text="A guard, guarding the gate of gardenville."
    src="./src/audio/a_guard__guarding_the_gate_of_gardenville____.mp3"
    hidden
></audio>
<audio
    data-text="Seems like he has nothing better to do than to keep people out."
    src="./src/audio/seems_like_he_has_nothing_better_to_do_than_to_kee.mp3"
    hidden
></audio>