<audio
    data-text="I can't do that."
    src="./audio/i_can_t_do_that_.mp3"
    hidden
></audio>
<audio
    data-text="I can't do that."
    src="./audio/i_can_t_do_that__.mp3"
    hidden
></audio>
<audio
    data-text="I can't do that."
    src="./audio/i_____can_t_do_that__.mp3"
    hidden
></audio>
<audio
    data-text="That is impossible."
    src="./audio/that_is_impossible_.mp3"
    hidden
></audio>
<audio
    data-text="Now, why should i do that!?"
    src="./audio/now__why_should_i_do_that__.mp3"
    hidden
></audio>
<audio
    data-text="It's guardenville, the biggest town in the area."
    src="./audio/it_s_guardenville__the_biggest_town_in_the_area_.mp3"
    hidden
></audio>
<audio
    data-text="The local church, where people go to pray."
    src="./audio/the_local_church__where_people_go_to_pray_.mp3"
    hidden
></audio>
<audio
    data-text="Home, sweet home."
    src="./audio/home__sweet_home_.mp3"
    hidden
></audio>
<audio
    data-text="That's where i live."
    src="./audio/that_s_where_i_live_.mp3"
    hidden
></audio>
<audio
    data-text="Guard: 'Hello traveller.'"
    src="./audio/guard____hello_traveller___.mp3"
    hidden
></audio>
<audio
    data-text="Guard: 'Halt! Who goes there?'"
    src="./audio/guard____halt__who_goes_there___.mp3"
    hidden
></audio>
<audio
    data-text="Seems like he has nothing better to do than to keep people out."
    src="./audio/seems_like_he_has_nothing_better_to_do_than_to_kee.mp3"
    hidden
></audio>
<audio
    data-text="A lone hut, it's said that a witch lives there."
    src="./audio/a_lone_hut__it_s_said_that_a_witch_lives_there_.mp3"
    hidden
></audio>
<audio
    data-text="A small village, central to the area."
    src="./audio/a_small_village__central_to_the_area_.mp3"
    hidden
></audio>
<audio
    data-text="The mines, where most people of the area work at."
    src="./audio/the_mines__where_most_people_of_the_area_work_at_.mp3"
    hidden
></audio>
<audio
    data-text="The only way to guardenville, one has to cross it by boat."
    src="./audio/the_only_way_to_guardenville__one_has_to_cross_it_.mp3"
    hidden
></audio>
<audio
    data-text="The only way to guardenville, one has to cross it by boat."
    src="./audio/the_only_way_to_guardenville__one_has_to_cross_it_.mp3"
    hidden
></audio>
<audio
    data-text="A loaf of bread. It looks fresh and tasty."
    src="./audio/a_loaf_of_bread__it_looks_fresh_and_tasty__.mp3"
    hidden
></audio>
<audio
    data-text="It smells like it was baked this morning."
    src="./audio/it_smells_like_it_was_baked_this_morning__.mp3"
    hidden
></audio>
<audio
    data-text="A guard, guarding the gate of gardenville."
    src="./audio/a_guard__guarding_the_gate_of_gardenville____.mp3"
    hidden
></audio>
<audio
    data-text="Seems like he has nothing better to do than to keep people out."
    src="./audio/seems_like_he_has_nothing_better_to_do_than_to_kee.mp3"
    hidden
></audio>
<audio
    data-text="I cannot wait to eat this."
    src="./audio/i_cannot_wait_to_eat_this_.mp3"
    hidden
></audio>
<audio
    data-text="Guard: 'I am not hungry right now.'"
    src="./audio/guard____i_am_not_hungry_right_now___.mp3"
    hidden
></audio>
<audio
    data-text="Guard: 'A nice loaf of bread you have there. Too bad I already had my lunch.'"
    src="./audio/guard____a_nice_loaf_of_bread_you_have_there__too_.mp3"
    hidden
></audio>
<audio
    data-text="Guard: 'Travel safe!'"
    src="./audio/guard____travel_safe___.mp3"
    hidden
></audio>
<audio
    data-text="Guard: 'No, thank you. I am not hungry right now.'"
    src="./audio/guard____no__thank_you__i_am_not_hungry_right_now_.mp3"
    hidden
></audio>
<audio
    data-text="Guard: 'Yes, I am sure. I already had my lunch.'"
    src="./audio/guard____yes__i_am_sure__i_already_had_my_lunch___.mp3"
    hidden
></audio>
<audio
    data-text="Guard: '[Angry] Go away!'"
    src="./audio/guard____angry_go_away___.mp3"
    hidden
></audio>
<audio
    data-text="Guard: 'Not from here, eh? This is Guardenville, the biggest city in the area.'"
    src="./audio/guard____not_from_here__eh__this_is_guardenville__.mp3"
    hidden
></audio>
<audio
    data-text="Guard: 'No, currently no new travellers are allowed to enter the city.'"
    src="./audio/_guard____no__currently_no_new_travellers_are_allo.mp3"
    hidden
></audio>
<audio
    data-text="Guard: 'It is an order from the king! No one is allowed to enter the city until further notice.'"
    src="./audio/guard____it_is_an_order_from_the_king__no_one_is_a.mp3"
    hidden
></audio>
<audio
    data-text="Guard: 'Listen, if you question the king, you will end up in a dark place very fast.'"
    src="./audio/guard____listen__if_you_question_the_king__you_wil.mp3"
    hidden
></audio>
<audio
    data-text="Guard: 'Travel safe!'"
    src="./audio/guard____travel_safe___.mp3"
    hidden
></audio>
<audio 
    data-text="I have to go now."
    src="./audio/i_have_to_go_now____.mp3"
    hidden
></audio>
<audio 
    data-text="Do you want some?"
    src="./audio/do_you_want_some____.mp3"
    hidden
></audio>
<audio 
    data-text="Are you sure?"
    src="./audio/are_you_sure____.mp3"
    hidden
></audio>
<audio 
    data-text="You are missing out though ..."
    src="./audio/you_are_missing_out_though_______.mp3"
    hidden
></audio>
<audio 
    data-text="What is the name of this city?"
    src="./audio/what_is_the_name_of_this_city___.mp3"
    hidden
></audio>
<audio 
    data-text="Will you let me into the city?"
    src="./audio/will_you_let_me_into_the_city___.mp3"
    hidden
></audio>
<audio 
    data-text="Why is that though?"
    src="./audio/why_is_that_though___.mp3"
    hidden
></audio>
<audio 
    data-text="But why?"
    src="./audio/but_why___.mp3"
    hidden
></audio>
