<div id="cursor" data-state="default">
    <img class="active-option" src="/images/icons/cursor-default.png" alt="active option" />
    <img
        data-state="default"
        style="transform: translate(17px, 22px)"
        src="/images/icons/cursor-default.png"
        alt="pointing, Medieval Glove, sparkling Mouse-Cursor , flat shaded, for an adventure game, Dos Adventure Game, Low Definition, Low Quality Art, Dithering"
    />
    <img
        data-state="hover"
        style="transform: translate(9px, 9px)"
        src="/images/icons/cursor-hover.png"
        alt="hovering, Medieval Glove, sparkling Mouse-Cursor , flat shaded, for an adventure game, Dos Adventure Game, Low Definition, Low Quality Art, Dithering"
    />
    <img
        data-state="click"
        style="transform: translate(17px, 22px)"
        src="/images/icons/cursor-click.png"
        alt="clicking, Medieval Glove, sparkling Mouse-Cursor , flat shaded, for an adventure game, Dos Adventure Game, Low Definition, Low Quality Art, Dithering"
    />
    <div data-state="options" >
        <img
            class="option top-left"
            data-action="interact"
            src="/images/icons/cursor-option-interact.png"
            alt=""
        />
        <img
            class="option top-right"
            data-action="inspect"
            src="/images/icons/cursor-option-inspect.png"
            alt=""
        />
        <img
            class="option bottom-left"
            data-action="pick-up"
            src="/images/icons/cursor-option-pick-up.png"
            alt=""
        />
        <img
            class="option bottom-right"
            data-action="talk"
            src="/images/icons/cursor-option-talk.png"
            alt=""
        />
    </div>
</div>
