<audio data-track="title">
    <source src="./images/dummy.mp3"
            data-src="/music/echoes-in-the-forest.mp3" type="audio/mpeg"/>
</audio>
<audio data-track="ancient-shrine">
    <source src="/audio/dummy.mp3"
            data-src="/public/music/ancient-shrine.mp3" type="audio/mpeg"/>
</audio>
<audio data-track="abandoned-hut">
    <source src="/audio/dummy.mp3"
            data-src="/public/music/haunted-cabin.mp3" type="audio/mpeg"/>
</audio>
<audio data-track="spirits-crossing">
    <source src="/audio/dummy.mp3"
            data-src="/public/music/spirits-crossing.mp3" type="audio/mpeg"/>
</audio>
<audio data-track="murky-swamp">
    <source src="/audio/dummy.mp3"
            data-src="/public/music/murky-swamp-voices-in-the-mire.mp3" type="audio/mpeg"/>
</audio>
