<audio data-track="title"
       src="/audio/dummy.mp3"
       data-src="/public/music/echoes-in-the-forest.mp3"
></audio>
<audio data-track="ancient-shrine"
       src="/audio/dummy.mp3"
       data-src="/public/music/ancient-shrine.mp3"
></audio>
<audio data-track="abandoned-hut"
       src="/audio/dummy.mp3"
       data-src="/public/music/haunted-cabin.mp3"
></audio>
<audio data-track="spirits-crossing"
       src="/audio/dummy.mp3"
       data-src="/public/music/spirits-crossing.mp3"
></audio>
<audio data-track="murky-swamp"
       src="/audio/dummy.mp3"
       data-src="/public/music/murky-swamp-voices-in-the-mire.mp3"
></audio>
<audio data-track="main-road"
       src="/audio/dummy.mp3"
       data-src="/public/music/main-road.mp3"
></audio>
