#cursor {
    position: absolute;
    width: 50px;
    height: auto;
    aspect-ratio: 1 / 1;
    background-color: transparent;
    pointer-events: none;
    transform: translate(-50%, -50%);
    visibility: hidden;

    &[data-state="default"] {
        > [data-state="default"] {
            visibility: visible;
        }
    }

    &[data-state="hover"] {
        > [data-state="hover"] {
            visibility: visible;
        }
    }

    &[data-state="click"] {
        > [data-state="click"] {
            visibility: visible;
        }
    }

    > * {
        display: flex;
        width: 100%;
        height: 100%;

        position: fixed;
        pointer-events: none;
        visibility: hidden;
    }

    &.js-mouse-hover-text {
        > .active-option {
            visibility: hidden;
        }

        > [data-state="default"] {
            visibility: visible;
        }

        > [data-state="click"], > [data-state="hover"] {
            visibility: hidden;
        }
    }

    > .active-option {
        position: absolute;
        top: 50%;
        left: 120%;
        display: flex;
        width: 35px;
        height: auto;

        visibility: visible;

        transform: translate(-50%, -50%);

        &[src=""] {
            display: none;
        }
    }

    &[data-state="options"]:not(.js-mouse-hover-text) {
        > [data-state="options"] {
            visibility: visible;
        }

        > .active-option {
            display: none;
        }
    }

    > [data-state="options"] {
        display: grid;
        grid-template-columns: 50px 50px;
        grid-template-rows: 50px 50px;

        > * {
            width: 100%;
            height: 100%;
            box-sizing: content-box;
            filter: grayscale(1);
            border: 3px solid transparent;
        }

        &[data-option="interact"] > [data-action="interact"],
        &[data-option="inspect"] > [data-action="inspect"],
        &[data-option="pick-up"] > [data-action="pick-up"],
        &[data-option="talk"] > [data-action="talk"], {
            display: flex;
            filter: grayscale(0) brightness(1.5) drop-shadow(3px 3px 0px black);
            border-radius: 50%;
            border: 3px solid white;
        }
    }
}
