#cursor {
    position: absolute;
    width: 50px;
    height: auto;
    aspect-ratio: 1 / 1;
    background-color: transparent;
    pointer-events: none;
    transform: translate(-50%, -50%);
    visibility: hidden;

    &[data-state="default"] {
        > [data-state="default"] {
            visibility: visible;
        }
    }

    &[data-state="hover"] {
        > [data-state="hover"] {
            visibility: visible;
        }
    }

    &[data-state="click"] {
        > [data-state="click"] {
            visibility: visible;
        }
    }

    > * {
        display: flex;
        width: 100%;
        height: 100%;

        position: fixed;
        pointer-events: none;
        visibility: hidden;
    }

    &[data-state="options"] {
        > [data-state="options"] {
            display: grid;
            grid-template-columns: 50px 50px;
            grid-template-rows: 50px 50px;
            transform: translate(-50%, -50%);

            &:after {
                display: flex;
            }

            > * {
                display: flex;
            }
        }
    }

    > [data-state="options"] {
        visibility: visible;
        transform: translate(50%, 0%) scale(0.5);

        > * {
            display: none;
            width: 100%;
            height: 100%;
            filter: grayscale(1);
        }

        &:after {
            display: none;
            content: " ";
            top: 50%;
            left: 50%;
            position: absolute;
            width: 50px;
            height: 50px;
            border: 3px solid white;
            border-radius: 50px;
        }

        &.top-left > .top-left,
        &.top-right > .top-right,
        &.bottom-left > .bottom-left,
        &.bottom-right > .bottom-right {
            display: flex;
            filter: grayscale(0) brightness(1.5) drop-shadow(3px 3px 0px black);
        }

        &.top-left {
            &:after {
                top: 0;
                left: 0;
            }
        }

        &.top-right {
            &:after {
                top: 0;
                left: 100%;
            }
        }

        &.bottom-left {
            &:after {
                top: 100%;
                left: 0;
            }
        }

        &.bottom-right {
            &:after {
                top: 100%;
                left: 100%;
            }
        }
    }
}
