#popup {
    position: absolute;
    width: 100%;
    height: calc(100% - 50px);
    pointer-events: none;
}

.popup {
    top: 50%;
    left: 50%;
    position: absolute;
    display: flex;
    width: auto;
    height: auto;
    padding: 1rem;
    border-radius: 0.25rem;

    font-weight: bold;
    pointer-events: all;
    background-color: unset;
    background-image : url(/assets/images/backgrounds/popup-menu.png);
    background-size: 100% 100%;


    transform: translate(-50%, -50%);
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        font-size: 1.5rem;
        margin-top: 0rem;
    }

    a {
        color: whitesmoke;
        text-decoration: none;
        font-weight: normal;
        pointer-events: all;
    }

    a:visited {
        color: whitesmoke;
    }

    > form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .menu-item {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    button.menu-item {
        height: 2rem;
        width: auto;
        border: unset;

        background-color: unset;
        background-image: url(/assets/images/icons/button-2.png);
        background-size: 100% 100%;

        font-weight: bolder;
        aspect-ratio: 2/1;

        justify-content: center;
        align-items: center;
        &:hover {
            color: whitesmoke;
        }
        &:focus {
            outline: none;
            color: whitesmoke;
        }
    }
}
